@font-face {
    font-family: 'kaisei';
    src: url('./KaiseiOpti-Medium.woff2') format('woff2'),
        url('./KaiseiOpti-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'anony';
    src: url('./AnonymousPro-Italic.woff2') format('woff2'),
        url('./AnonymousPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'inter_b';
    src: url('./Inter-Bold.woff2') format('woff2'),
        url('./Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'inter_i';
    src: url('./Inter-Italic.woff2') format('woff2'),
        url('./Inter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'inter_li';
    src: url('./Inter-LightItalic.woff2') format('woff2'),
        url('./Inter-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'inter_sb';
    src: url('./Inter-SemiBold.woff2') format('woff2'),
        url('./Inter-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'inter_m';
    src: url('./Inter-Medium.woff2') format('woff2'),
        url('./Inter-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'inria_l';
    src: url('./InriaSans-Light.woff2') format('woff2'),
        url('./InriaSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}